
body {
    background-image: url(amanecer.jpg);
    margin: 0;
    padding: 0;
    justify-content: center;
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
}
    

h1 {
    font-size: 40px;
    
}
.bienvenida {
   
    font-size: 25px;
    
}
.salmo {
    font-size: 25px;
    
}
.texto {
    font-size: 25px;
   
}

.contenedor {
    justify-content: center;
    text-align: center;
    margin: 150px auto;
    color:blue;

}

