.imagen {
    background-image: url(mar.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
   
}
h1 {
    text-align: center;
    font-size: 40px;
    color:goldenrod;
}
.bienvenida {
    text-align:center;
    font-size: 25px;
    color:goldenrod;
}
.salmo {
    text-align: center;
    font-size: 25px;
    color:brown;
}
.texto {
    text-align: center;
    font-size: 25px;
    color:brown;  
}
